<div class="col-1">
    <div class="col-6 ">
        <div class="row ">
            <a class="list-group-item sidebar-color" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                    class="fa fa-angle-double-right icon" aria-hidden="true"></i></a>
            <a class="list-group-item sidebar-color" href="#"><i class="fa fa-book fa-fw"
                    aria-hidden="true"></i>&nbsp;</a>
        </div>
    </div>
</div>